.Rproj.user
.DS_Store
.Rhistory

# do not track some data folders as they are too big
sequencing/data/raw_fastq/*
sequencing/data/filtered_fastq/*
sequencing/data/ref_trainsets/*

sequencing/data/output/20171103_13:27/20171103_13:27_dadaFs\.rds
sequencing/data/output/20171103_13:27/20171103_13:27_dadaRs\.rds

sequencing/data/*fastq

